@font-face {
    font-family: "PixelFont";
    src: url(assets/fonts/ADDSBP__.TTF);
}
body {
    background-image: url(assets/bgs/bg2.gif);
    font-family: monospace;
    margin-left: 10%;
    margin-right: 10%;
}

#topwelcome,#navbar,#centerbox,#bottom {
    border: groove 2px white;
    border-radius: 20px;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    width: 75%;
    padding: 12px;
}

#topwelcome {
    text-align: center;
    font: bolder;
    font-family: PixelFont;
    font-size: x-large;
    color: pink;
    text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
    background-color: aliceblue;
    padding-top: 1px;
    padding-bottom: 1px;
}


#navbar {
    margin-top: 6px;
    background-color: rgba(137, 46, 222, 0.57);
    text-align: center;
}

#navbar a {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    display: inline-block;
    padding: 6px;
}

#navbar a:hover {
    color: #a471f5;
}

#centerbox {
    height: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
    background-color:cornsilk;
}

#centerbox h2 {
    font-family: PixelFont;
}

#centerbox p {
    font-size: 1.5em;
    color:rgba(0, 0, 0, 0.664) ;
}

#bottom {
    margin-top: 6px;
    text-align: center;
    background-color: rgba(137, 46, 222, 0.57);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}