@font-face {
    font-family: "PixelFont";
    src: url(assets/fonts/ADDSBP__.TTF);
}
body {
    background-image: url(assets/bgs/bg2.gif);
    font-family: monospace;
}

#topwelcome,#navbar,#centerbox,#bottom {
    border: groove 2px white;
    border-radius: 20px;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
    width: 50%;
}

#topwelcome {
    text-align: center;
    font: bolder;
    font-family: PixelFont;
    font-size: large;
    color: pink;
    text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
}


#navbar {
    margin-top: 10px;
    text-align: center;
    padding: 12px;
    background-color: rgba(137, 46, 222, 0.57);
}

#navbar a {
    padding: 6px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    display: inline-block;
}

#navbar a:hover {
    color: #a471f5;
}

#centerbox {
    height: auto;
    padding: 12px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 14px;
    text-align: center;
    background-color:cornsilk;

}

#bottom {
    padding: 12px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(137, 46, 222, 0.57);
}